<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>La Luminosa/LOGIN</title>
</head>

<body>


	<header>

	</header>
	<div class="contenedor">
		<form action="#" th:action="@{index}" th:object="${usuario}" method="post">
			<div class="form-floating mb-3">
				<input type="text" th:field="*{nombre}" class="form-control" id="inputNombre"
					placeholder="Ingrese su nombre">
				<label for="inputNombre">Nombre</label>
			</div>

			<!--<div class="form-floating mb-3">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">Correo Electronico</label>
			</div> -->
			<div class="form-floating mb-3">
				<input type="password" th:field="*{contra}" class="form-control" id="inputPassword"
					placeholder="Ingrese su contraseña">
				<label for="inputPassword">Contraseña</label>
			</div>


			<!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
			<button type="submit" class="btn btn-success">Enviar</button>
			<button type="reset" class="btn btn-danger">Cancelar</button>

			<div class="form-check mt-3">
				<a href="/registro" class="form-check-label">¿No estás registrado? Regístrate aquí</a>
			</div>
		</form>
	</div>
	<footer>

	</footer>

</body>

</html>