<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaLuminosa/PaginaPrincipal</title>
    <link rel="stylesheet" href="Css/principal.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    
</head>

<body>

    <header>

    </header>
    <div class="contenedor">

        <div class="ruleta">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="JS/principal.js"></script>
            <div class='roulette-wrapper'>
                <div class='selector'></div>
                <div class='wheel'></div>
            </div>

            <div>
                <input placeholder='outcome'>
                <button>
                    Spin Wheel
                </button>
            </div>
        </div>

    </div>
    <footer>

    </footer>

</body>


</html>