<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>LaLuminosa/Juego</title>
	<!--<link rel="stylesheet" type="text/css" href="Css/tablero.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<style>
		body {
			font-family: 'Titillium Web', sans-serif;
		}
		

		.rojo {
			background-color: #ff1000;
		}

		.negro {
			background-color: #2D3035;
		}

		.verde {
			background-color: #00dd56;
		}
		.rojo, .verde, .negro {
			box-shadow: inset 0 0 7px 3px #666666;	
		}

		table {
			font-size: 40px;
			border-collapse: collapse;
			margin: 0 auto;

		}

		td {
			color: #e3e3e3;
			width: 75px;
			height: 75px;
			border: 3px solid #ddd;
			text-align: center;
		}

		th,
		td {
			padding: 15px;
		}
	</style>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var table = document.getElementById('tablero_juego');

			// First loop for merging cells with the same color or value '0'
			for (var i = 0; i < table.rows.length; i++) {
				var row = table.rows[i];

				for (var j = 0; j < row.cells.length - 1; j++) {
					var currentCell = row.cells[j];
					var nextCell = row.cells[j + 1];

					if (currentCell.innerText === nextCell.innerText &&
						(currentCell.classList.contains('rojo') || currentCell.classList.contains('negro'))) {
						// Merge cells if they have the same color
						currentCell.colSpan = 2;
						nextCell.style.display = 'none';

						// Change the content of the <span> element to "Rojo" or "Negro"
						var spanElement = currentCell.querySelector('span');
						var color = currentCell.classList.contains('rojo') ? 'Rojo' : 'Negro';
						spanElement.innerText = color;
					} else if (currentCell.innerText === '0' && nextCell.innerText === '0') {
						// Merge cells if they have the value 0
						currentCell.colSpan = 2;
						nextCell.style.display = 'none';
					}
				}
			}

			// Second loop for merging cells with value '-1'
			var foundZero = false;

			for (var i = 0; i < table.rows.length; i++) {
				var row = table.rows[i];

				for (var j = 0; j < row.cells.length - 2; j++) {
					var currentCell = row.cells[j];
					var nextCell = row.cells[j + 1];
					var nextNextCell = row.cells[j + 2];

					if (currentCell.colSpan === 2 && nextCell.style.display === 'none' && currentCell.innerText === '0') {
						// Update content based on whether it's the first or second encounter of '0'
						var spanElement = currentCell.querySelector('span');
						spanElement.innerText = foundZero ? 'Par' : 'Impar';

						// Set foundZero to true after the first encounter
						foundZero = true;
					}
				}
			}
			var lastRow = document.getElementById('tablero_juego').rows[3];
			var cellsWithMinusOne = [];
			for (var i = 0; i < lastRow.cells.length; i++) {
				var cell = lastRow.cells[i];
				var spanValue = cell.querySelector('span').innerText;
				if (spanValue === '-1') {
					cellsWithMinusOne.push(cell);
				}
			}

			// Verificar y combinar las primeras 3 celdas
			if (cellsWithMinusOne.length >= 3) {
				// Combina las primeras 3 celdas
				cellsWithMinusOne[0].colSpan = 3;
				cellsWithMinusOne[1].style.display = 'none';
				cellsWithMinusOne[2].style.display = 'none';

				// Actualiza el contenido del primer span a vacío
				var spanElement = cellsWithMinusOne[0].querySelector('span');
				spanElement.innerText = '';
			}

			// Verificar y combinar las últimas 2 celdas
			if (cellsWithMinusOne.length >= 2) {
				// Combina las últimas 2 celdas
				cellsWithMinusOne[cellsWithMinusOne.length - 2].colSpan = 2;
				cellsWithMinusOne[cellsWithMinusOne.length - 1].style.display = 'none';

				// Actualiza el contenido del último span a vacío
				var spanElementLast = cellsWithMinusOne[cellsWithMinusOne.length - 2].querySelector('span');
				spanElementLast.innerText = '';
			}
		});

	</script>





</head>

<body>

	<h1>Prueba de Tablero</h1>

	<h2>Tablero</h2>
	<!-- <table border="1">
		<tr th:each="fila : ${tablero.tablero}">
			<td th:each="celda : ${fila}" th:class="${celda.color}">
				Verifica la propiedad 'valor' utilizando la expresión 'celda.valor'
				<span th:text="${celda.valor}"></span>
			</td>
		</tr>
	</table> -->
	<table id="tablero_juego">
		<tbody>
			<tr th:each="fila : ${tablero.tablero}">
				<td th:each="celda : ${fila}" th:class="${celda.color.toLowerCase()}">
					<span th:text="${celda.valor}"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- <table>
		<tbody>
			<tr>
				<td class="verde">
					<span>0</span>
				</td>
				<td class="negro">
					<span>3</span>
				</td>
				<td class="rojo">
					<span>6</span>
				</td>
				<td class="negro">
					<span>9</span>
				</td>
				<td class="rojo">
					<span>12</span>
				</td>
				<td class="negro">
					<span>15</span>
				</td>
				<td class="rojo">
					<span>18</span>
				</td>
				<td class="negro">
					<span>21</span>
				</td>
				<td class="rojo">
					<span>24</span>
				</td>
				<td class="negro">
					<span>27</span>
				</td>
				<td class="rojo">
					<span>30</span>
				</td>
				<td class="negro">
					<span>33</span>
				</td>
				<td class="rojo">
					<span>36</span>
				</td>
			</tr>
			<tr>
				<td class="verde">
					<span>0</span>
				</td>
				<td class="rojo">
					<span>2</span>
				</td>
				<td class="rojo">
					<span>5</span>
				</td>
				<td class="negro">
					<span>8</span>
				</td>
				<td class="negro">
					<span>11</span>
				</td>
				<td class="rojo">
					<span>14</span>
				</td>
				<td class="rojo">
					<span>17</span>
				</td>
				<td class="negro">
					<span>20</span>
				</td>
				<td class="negro">
					<span>23</span>
				</td>
				<td class="rojo">
					<span>26</span>
				</td>
				<td class="rojo">
					<span>29</span>
				</td>
				<td class="negro">
					<span>32</span>
				</td>
				<td class="negro">
					<span>35</span>
				</td>
			</tr>
			<tr>
				<td class="verde">
					<span>0</span>
				</td>
				<td class="rojo">
					<span>1</span>
				</td>
				<td class="negro">
					<span>4</span>
				</td>
				<td class="rojo">
					<span>7</span>
				</td>
				<td class="negro">
					<span>10</span>
				</td>
				<td class="rojo">
					<span>13</span>
				</td>
				<td class="negro">
					<span>16</span>
				</td>
				<td class="rojo">
					<span>19</span>
				</td>
				<td class="negro">
					<span>22</span>
				</td>
				<td class="rojo">
					<span>25</span>
				</td>
				<td class="negro">
					<span>28</span>
				</td>
				<td class="rojo">
					<span>31</span>
				</td>
				<td class="negro">
					<span>34</span>
				</td>
			</tr>
			<tr>
				<td>
					<span>-1</span>
				</td>
				<td>
					<span>-1</span>
				</td>
				<td>
					<span>-1</span>
				</td>
				<td>
					<span>0</span>
				</td>
				<td>
					<span>0</span>
				</td>
				<td class="rojo">
					<span>0</span>
				</td>
				<td class="rojo">
					<span>0</span>
				</td>
				<td class="negro">
					<span>0</span>
				</td>
				<td class="negro">
					<span>0</span>
				</td>
				<td>
					<span>0</span>
				</td>
				<td>
					<span>0</span>
				</td>
				<td>
					<span>-1</span>
				</td>
				<td>
					<span>-1</span>
				</td>
			</tr>
		</tbody>
	</table> -->

</body>

</html>